table {
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
}

thead {
  font-weight: 700;
}

tbody > tr:hover {
  background-image: linear-gradient(90deg, #f4f4f4 0%, #efefef 100%);
  border-radius: 10px;
  overflow: hidden;
}

td,
th {
  padding: 10px;
}
